/*cuerpo basico*/
*{
    margin: 0px;
    padding: 0px;}


body{
    padding-top: 20px;
    text-align: left;
    background-image: url("../fondo/7.png");
    width: 70%;
    padding: 60px;
    margin: 20px;}

fieldset {
    background-color: #cccccc;
	border-color: black;}
			
ul, ol {
	list-style:none;}
			
.nav {
	width: 600px; /*Le establecemos un ancho*/
	margin: 20 auto; /*Centramos automaticamente*/
 	background-color: #434343;}

.nav > li {
	float:left;}
			
.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding: 12px;
	display:block;}
			
.nav li a:hover {
	background-color:#434343;}
			
.nav li ul {
	display:none;	
	position:absolute;
	min-width:140px;}
			
.nav li:hover > ul {	
	display:block;}
			
.nav li ul li {
	position:relative;}
			
.nav li ul li ul {
	right:-140px;
	top:0px;}
			

/*articulos*/

#article{
  padding-left: 20px;
  padding-right: 20px;
  font: 150% sans-serif;
  background: white;
  border:solid;
  width:60%;
  margin-top: 60px;
  top:455px;}

#aside{
  padding-left: 20px;
  padding-right: 20px;
  font: 120% sans-serif;
  background: white;
  position:absolute;
  border:solid;
  width: 40%;
  height:850px;
  top:350px;
  left:55.6%;}

/* Estilos generales del footer */
footer {
  background-color: #333; 
  color: white; 
  text-align: center; 
  padding: 20px 0; 
  width: 100%; 
  position: fixed; 
  bottom: 0; 
  left: 0;}

/* Estilos para la lista de enlaces en el footer */
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;}

footer ul li {
  display: inline;
  margin: 0 15px;}

footer ul li a {
  color: white;
  text-decoration: none;}

footer ul li a:hover {
  text-decoration: underline;}