/*cuerpo basico*/
*{
    margin: 0px;
    padding: 0px;}

header{
	text-align: left;}

div{
	width: 100%;}

body{
    padding-top: 20px;
    text-align: left;
    background-image: url("../fondo/2.jpg");
    padding: 60px;
    margin: 20px;}

fieldset {
    background-color: #cccccc;
	border-color: black;}
			
ul, ol {
	list-style:none;}
			
.nav {
	width: 600px; /*Le establecemos un ancho*/
	margin: 20 auto; /*Centramos automaticamente*/
 	background-color: #434343;}

.nav > li {
	float:left;}
			
.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding: 12px;
	display:block;}
			
.nav li a:hover {
	background-color:#434343;}
			
.nav li ul {
	display:none;	
	position:absolute;
	min-width:140px;}
			
.nav li:hover > ul {	
	display:block;}
			
.nav li ul li {
	position:relative;}
			
.nav li ul li ul {
	right:-140px;
	top:0px;}
			
/*Display grid*/

	.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "imagen01 imagen01 imagen01 imagen01"
    "img1 img2 img3 img4"
    "img5 img5 img6 img6";
}
.img1{
	border-radius: 20px;
	background: white;
	width: 90%;
	margin: 20px;
	border-bottom: black 4px solid;
	grid-area: img1;}
.img2{ 
	border-radius: 20px;
	background: white;
	width: 90%;
	margin: 20px;
	border-bottom: black 4px solid;
	grid-area: img2;}
.img3{
	border-radius: 20px; 
	background: white;
	width: 90%;
	margin: 20px;
	border-bottom: black 4px solid;
	grid-area: img3;}
.img4{
	border-radius: 20px;
	background: white;
	width: 90%;
	margin: 20px;
	border-bottom: black 4px solid;
	grid-area: img4;}
.img5{
	border-radius: 20px;
	background: white;
	width: 90%;
	margin: 20px;
	border-bottom: black 4px solid;
	grid-area: img5;}
.img6{
	border-radius: 20px; 
	background: white;
	width: 90%;
	margin: 20px;
	border-bottom: black 4px solid;
	grid-area: img6;}
.imagen01{ 
	background: black;
	border-color: black;
	grid-area: imagen01;}